.controls,
.teamlist {
    width: 100%;
}

.teamlist {
    border: 1px solid rgba(128, 128, 128, 0.5);
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px;
    overflow: hidden;
}

.teamlist th,
.teamlist td {
    border: 0.5px solid rgba(128, 128, 128, 0.5);
}

.teamlist td {
    padding: 10px;
    cursor: pointer;
}

.teamlist th {
    padding: 15px;
}

.controls td:first-child,
.teamlist td:first-child {
    text-align: center;
    width: 10%;
}

.teamlist td:nth-child(2) {
    width: 70%;
}

.controls td:nth-child(3) {
    text-align: right;
}

.teamlist td:nth-child(3) {
    text-align: center;
}

span {
    text-decoration: underline;
    cursor: pointer;
}