@if (isLoading) {
<p>
    Загрузка данных...
</p>
}
@else if (!teams.length) {
    <p>
        Данные о командах пока не появились на сайте рейтинга. <br>
        Следите за обновлениями на <a href="https://rating.chgk.info/tournament/{{tournamentId}}">странице турнира</a>.
    </p>
}
@else {
    <table class="controls">
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td>
                    Потрачено: {{ score }}.
                    Осталось: {{ spendLimit - score }}.
                </td>
            </tr>
        </tbody>
    </table>

    <table class="teamlist">
        <thead>
            <tr>
                <th><span (click)="clearAll()">Clear</span></th>
                <th>Команда</th>
                <th>Цена</th>
            </tr>
        </thead>
        <tbody>
            @for (team of teams; track team) {
            <tr>
                <td (click)="pickTeam(team)">
                    <input type="checkbox" [checked]="team.picked"
                        [disabled]="!team.picked && spendLimit - score - team.cost < 0">
                </td>
                <td (click)="pickTeam(team)"
                    [style.color]="(!team.picked && spendLimit - score - team.cost < 0) ? 'rgba(128, 128, 128, 1)' : 'currentColor'">
                    {{ team.name }}</td>
                <td (click)="pickTeam(team)"
                    [style.color]="(!team.picked && spendLimit - score - team.cost < 0) ? 'rgba(128, 128, 128, 1)' : 'currentColor'">
                    {{ team.cost }}</td>
            </tr>

            }
        </tbody>
    </table>
}
<nav>
    <a class="button" routerLink="/tournaments" routerLinkActive="activebutton"
        ariaCurrentWhenActive="page">
        Назад
    </a>
</nav>