app-header,
app-footer {
  display: flex;
  text-align: center;
  justify-content: center;
}

app-content {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 2rem;
  min-height: 100%;
  
  width: 100%;
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;
}
