body {
  font-family: monospace;
}

app-root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 1rem;
  min-height: 100vh;
}

app-loader {
  display: flex;
  justify-content: center;
  place-items: center;
}

.button {
  text-decoration: underline;
  cursor: pointer;
}

select {
  background: transparent;
  border: none;
  outline: none;
}
