<h3>Предстоящие турниры</h3>
@if (isLoading) {
<app-loader></app-loader>
}

@else {
<table class="tournaments">
    <tbody>
        @for (tournament of upcomingTournaments; track tournament) {
        <tr [routerLink]="['/tournaments', tournament.id]" routerLinkActive="active">
            <td>{{ tournament.dateStart }}</td>
            <td>{{ tournament.name }}</td>
            <td>{{ tournament.town }}</td>
        </tr>
        }
    </tbody>
</table>
}

<h3>Завершившиеся турниры</h3>
<p>
    Нет данных
</p>
